body {
  background-image: url("/static/images/background.jpg");
  background-size: cover;
  height: 100vh;
  margin: 0;
}

#game-holder {
  height: 100%;
  align-items: flex-start;
  overflow-y: scroll;
  display: flex;
  justify-content: center;
  padding: 50px 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "thin";
  src: url("/static/fonts/thin.woff2/stardew-valley.otf.woff2");
}

@font-face {
  font-family: "bold";
  src: url("/static/fonts/bold.woff2/svbold.otf.woff2");
}
