<link rel="stylesheet" href="/static/css/styles.css">

<div style="background-image: url(/static/images/dialoguebox.png); height: 226px; width: 642px; background-size: 100% 100%; image-rendering: pixelated;">
    <div class="container" style="display:flex; flex-direction:row; height: 100%">
        <div style="flex: 193"><p id="dialogue" style="font-family: bold; font-size: 18px; color: 56160c; padding-left: 25px; padding-right: 5px; letter-spacing: 1px"></p></div>
        <div style="flex: 128">
            <div class="container" style="display:flex; flex-direction:column; height: 100%">
                <div style="flex: 84">
                    <img style="padding: 30px 68px 10px 60px; height: 128px; width: 128px; image-rendering: pixelated;" id="portrait"></img>
                </div>
                <div style="flex: 29; max-height: 100%">
                    <p id="npc" style="font-family: bold; font-size: 18px; color: 56160c; text-align: center; padding-bottom: 16px; margin-top: 8px; margin-bottom: 0px; letter-spacing: 2px"></p>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="module" src="/static/js/npc.js"></script>
<script type="module" src="/static/js/constants.js"></script>
